<userTopBar *ngIf = "type === 'User'" [username]=username [type]=type></userTopBar>
<div class="page">
        <h1>Donate Completed!</h1>
        <p>We have received your donate, thank you for saving lives and giving</p >
        <p> animals care, love, and the second chance they deserve. <p>
        <img src="assets/img/green.png">
        <div class="but">
            <button type="button" class="btn btn-success">Create a Wishlist to adopt a pet!</button>
        </div>
        <div class="back">
            <div class="alert alert-info">
                <h3>Back to Homepage</h3>
        </div>
        
    </div>
       