.page{
    text-align: center;
    margin-top:50px;
}

h1{
    font-size:40pt;
    font-weight:700;
}

p{
    font-size:20pt;
    font-weight: 700;
    margin:20px;
}

.back{
    margin-left: 600px;
    margin-top:50px;
    width:300px;
}