.aboutus{
    margin: 0,auto;
    background-color:rgb(230, 128, 99) ;
    width: 100%;
    height: 700px;
    text-align: center;
}
.aboutus{
    padding-top: 50px;
    font-size: 50pt;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.give{
    margin-left: 380px;
    width: 40%;
    font-size: 18pt;
    color:rgb(226, 226, 226);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.btn{
    color: white;
}        