<div class="aboutus">
    <div class="wholewords">
        <div class="about">About us</div>
        <div class="give">
            <p>
                The PetAdoption Project, Inc. is a nonprofit, incorporated in Northeastern University.
                We're Sichen, Tianyu, Xianling and Longtao, and we founded the The PetAdoption Project after adopting a homeless Goldern Retriver dog named 404. We want to save others like her, because she brings us so much joy.
                Our mission is to bring awareness and support to saving the forgotten, homeless pets of Boston.
                The PetAdoption Project accomplishes this mission through animal rescue, rehabilitation, and adoption through networking and volunteers.
            </p>
        </div>
        <button type="button" class="btn btn-warning" (click) = "goto()">Donate Us!</button>
    </div>
</div>