<userTopBar [type]=type [username]=username></userTopBar>
<div class="img_input">
        <div class="img">
              <img src="assets/img/cat.jpg">
        </div>
        
        <div class="input">
            <div class="form-group">
                <!-- <input class="inputinfo" placeholder="First Name" [(ngModel)] = "firstname"> -->
                <!-- <div class="form-group"> -->
                <input class="form-control form-control-lg" type="text" placeholder="First Name" [(ngModel)] = "firstname"id="inputLarge">
                <!-- </div> -->
            </div>
            <div class="form-group">
                <!-- <input class="inputinfo" placeholder="Last Name" [(ngModel)] = "lastname"> -->
                <input class="form-control form-control-lg" type="text" placeholder="Last Name" [(ngModel)] = "lastname"id="inputLarge">
            </div>
            <div class="form-group">
                <!-- <input class="inputinfo" placeholder="Email" [(ngModel)] = "email"> -->
                <input class="form-control form-control-lg" type="text" placeholder="Email" [(ngModel)] = "email"id="inputLarge">
            </div>
            <div class="form-group">
                <!-- <input class="inputinfo" placeholder="Phone" [(ngModel)] = "phone">    -->
                <input class="form-control form-control-lg" type="text" placeholder="Phone" [(ngModel)] = "phone"id="inputLarge">
            </div>
            <div class="form-group">
                <!-- <input class="inputinfo" placeholder="Address" [(ngModel)] = "address">  -->
                <input class="form-control form-control-lg" type="text" placeholder="Address" [(ngModel)] = "address"id="inputLarge">
            </div>
            <div class="form-group">
                <!-- <input class="inputinfo" placeholder="Zip" [(ngModel)] = "zip"> -->
                <input class="form-control form-control-lg" type="text" placeholder="Zip" [(ngModel)] = "zip"id="inputLarge">
            </div>
            <div class="form-group">
                <!-- <input class="inputinfo" placeholder="City" [(ngModel)] = "city"> -->
                <input class="form-control form-control-lg" type="text" placeholder="City" [(ngModel)] = "city"id="inputLarge">
            </div>
            <div class="form-group">
                <!-- <input class="inputinfo" placeholder="State" [(ngModel)] = "state"> -->
                <input class="form-control form-control-lg" type="text" placeholder="State" [(ngModel)] = "state"id="inputLarge">
            </div>
            <div class="check">
                <!-- <input type="checkbox" [(ngModel)] = "checkpolicy">  -->
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked="" [(ngModel)] = "checkpolicy">
                    <label class="custom-control-label" for="customSwitch1">By checking this box, you are indicating that you have agree to the Policy</label>
                </div>
                
            </div>
            <div class="btn">
                <button type="button" routerLink = "/policy/User/{{username}}" class="btn btn-outline-warning">Browse Policy</button>
                <button type="button"  class="btn btn-outline-warning" (click) = "create()" >Apply</button>
            </div>
        </div>
    </div>
    