<userTopBar *ngIf = "type === 'User'" [username]=username [type]=type></userTopBar>
<div class="jumbotron">
        <h1 class="display-3">Pet Adoptoin Policy</h1>
        <p class="lead">Following is PuppySpot’s Code of Conduct:</p>
        <hr class="my-4">
            <li>care of the dog. This means committing to the relationship for your dog’s entire life.</li>
            <li>Selecting a dog and breed that is suited to your home and lifestyle and avoiding impulsive decisions.  You should be aware of common health problems associated with individual breeds, how to prevent them, and how to recognize their onset. Ensure that the rules of your housing allows for dog ownership.</li> 
            <li>Recognize that owning a dog(s) requires an investment of time and money.Keeping only the type and number of dogs for which you can provide a healthy, positive and safe environment. This includes appropriate/healthy food, water, shelter, health care, bathing, grooming and companionship. You need to be able to feed the puppy throughout the day, take it outside for bathroom breaks, and teach it manners (e.g. sit/stay and walk on a leash).</li>
            <li>Purchase food, treats, a collar and leash, toys, grooming tools, and other things you’ll need in advance so that your dog or puppy’s transition into your home will be a smooth one.</li>
            <li>You and your family members should decide who will be responsible for food, water, walks, exercise, cleanup, and grooming.</li>
            <li>Move breakables or “chewables” to higher ground. Make electrical cords inaccessible to curious paws and noses. Block off any area of the house that’s off-limits. Block access to any house, garden plants, foods or medicines that are toxic to dogs.</li>
            <li>Make sure the yard is securely fenced or that you have a run for your dog. Your pup will need to be on a leash outdoors.</li>
            <li>If traveling with your dog, keep your dog safe in the car by using a crate or seat belt harness.</li>
            <li>Create a comfortable area — whether a crate, a dog bed, or a pile of blankets — for your dog to go to when he needs rest or privacy.</li>
            <li>Ensure socialization and appropriate training for your dog(s) to facilitate their well-being and the well-being of other animals and people.</li>
            <li>Prevent your dog(s) from negatively impacting other people, animals and the environment. This includes proper waste disposal, noise control, and not allowing dog(s) to stray or become feral.</li>
            <li>Provide frequent exercise and mental stimulation appropriate to your dog(s)' age, breed, and health status.</li>
            <li>Establish and maintain a veterinarian-client-patient relationship. Choose a veterinarian ahead of time, so you’ll be ready for a visit soon after your dog comes home. Give your vet copies of the dog’s health records, and set up a vaccination and check-up schedule.</li>
            <li>Provide preventive (e.g., vaccinations, parasite control) and therapeutic health care for the life of your dog(s) in consultation with, and as recommended by, your veterinarian.</li>
            <li>Ensure dogs are properly identified (i.e., tags or microchips) and that their registration information in associated databases is kept up-to-date</li>
            <li>Adhere to all laws, regulations and ordinances, including licensing and leash requirements.</li>
            <li>Help to manage overpopulation by controlling your dog(s)' reproduction through spaying/neutering your dog.</li>
            <li>Include your dogs in your planning for an emergency or disaster, including assembling an evacuation kit.Make arrangements for the care of your dog when or if you are unable to do so.</li>
            <li>Recognize declines in your dog(s)' quality of life and making decisions in consultation with your veterinarian regarding appropriate end-of-life care (e.g., palliative care, hospice, euthanasia).</li>
        
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/apply/User/{{username}}" role="button">back</a>
        </p>
      </div>