<div class="bg">
<h1 class="upet">UPet Adoption</h1>
<!-- <P>Username:<input type="text" [(ngModel)]="username"></P>
<p>Password:<input type="password" [(ngModel)]="password"></p> -->
<!-- <div><input type="button" value="Log In" (click)="login(username)">
<input type="button" value="Sign up" (click)="signup()"><br>
  <input name="type" type="radio" [(ngModel)]="type" value="User">User
  <input name="type" type="radio" [(ngModel)]="type" value="Admin">Admin
</div> -->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
    	<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Login via site</h3>
			 	  </div>
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" role="form">
                    <fieldset>
			    	  	<div class="form-group">
			    		    <input class="form-control" placeholder="yourmail@example.com" name="email" type="text"[(ngModel)]="username">
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" placeholder="Password" name="password" type="password" value=""[(ngModel)]="password">
			    		</div>
              <input name="type" type="radio" [(ngModel)]="type" value="User">User
              <input name="type" type="radio" [(ngModel)]="type" value="Admin">Admin
			    		<input class="btn btn-lg btn-success btn-block" type="submit" value="Login"(click)="login(username)">
			    	</fieldset>
			      	</form>
                      <hr/>
                    <h4>OR</h4>
                    <input class="btn btn-lg btn-facebook btn-block" type="submit" value="Create New Account" (click)="signup()">
			    </div>
			</div>
		</div>
	</div>
</div>
<img src="assets/img/sign.jpg">
</div>
<router-outlet></router-outlet>
