.whole{
    text-align: center;

}

input{
    margin:10px;
}

select{
    margin:10px;
}

textarea{
    margin:10px;
    width:400px;
    height:200px;
    border-radius:20px;
}

.wishform{
    text-align: center;
    width:100%;
    // margin-left:200px;
    // border: 2px solid black;
    // border-radius: 20px;
}

.formcontent{
    padding:20px;
    margin-left:30px;
    font-size: 14pt;
    font-style: bold;
}

input, select{
    border-radius:20px;
}

select, option{
    width:200px;
    height:30px;
}




body { margin-top:20px; }
.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0px; }

.pet{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(217, 133, 106);
    font-size: 50pt;
}
.backimage{
    width: 100%;
    display: inline-flex;
}
