.apply-topbar{ 
    background-color:rgb(48, 62, 79);
    width: 100% auto;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    color: white;
} 

.form-control{
    width: 20%;
}

.nav-item logout{
    position: relative;
    margin-right: 20px;
}





